// Gradient effect
@mixin custom-gradient($start-color, $end-color) {
    background: linear-gradient(to right, $start-color, $end-color);
}

// Center any element
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Effect and style for borders
@mixin border-effect($color) {
    border: 2px solid $color;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  
    &:hover {
      border-color: darken($color, 20%);
      color: darken($color, 20%);
    }
}
  
// Effect that darkens elements inside
@mixin darken-effect($color) {
    &:hover {
      filter: brightness(0.8);
    }
  
    color: $color;
  }