<footer class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="/src/assets/images/tenis_logo.svg" alt="Logo">
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Members</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-google"></i></a></li>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>