<footer>
    <div class="contact-info row">
      <div class="col-md-4 col-sm-12"><i class="fa-solid fa-envelope"></i> lgallardose@tennisll.com</div>
      <div class="col-md-4 col-sm-12"><i class="fa-solid fa-phone"></i> +34 123 456 789</div>
      <div class="col-md-4 col-sm-12"><i class="fa-solid fa-compass"></i> Calle Martínez Palomares,15</div>
    </div>
  
    <hr class="separator row">
  
    <div class="row">
        <div class="logo col-md-4 col-sm-12 custom-title">
        <img src="/src/assets/images/tenis_logo.svg" alt="TenisLL" width="50" height="42">
        <span>Tennis Legends League</span>
        </div>
    
        <div class="pages col-md-4 col-sm-12">
        <a href="/src/index.html">Home</a>
        <a href="/src/members.html">Members</a>
        <a href="/src/blog.html">Blog</a>
        <a href="/src/contact.html">Join Us</a>
        </div>
        
        <div class="social col-md-4 col-sm-12">
            <i class="fa-brands fa-google"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
    </div>
</footer>