// styles.scss

.blog-article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  
    img {
      width: 100%;
      margin-bottom: 15px;
    }
  
    h2 {
      color: #333;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  
    hr {
      border: 1px solid $primary-color;
      margin: 20px 0;
    }
  
    blockquote {
      background-color: #f9f9f9;
      border-left: 5px solid #333;
      padding: 10px;
      margin: 0;
    }
  
    // Utilizando la pseudoclase :has() para aplicar estilos a párrafos que siguen directamente a una imagen
    .article-header, .col-lg-6:has(img + p) {
        p {
          font-style: italic;
          font-size: 12px;
        }
      }
      

  // Utilizando la pseudoclase :is() para aplicar estilos a elementos de lista con una clase específica
  .image-source:is(p) {
    color: $secondary-color; // Adjust the color as needed
    overflow-wrap: break-word;
  }
}
  
  .article-section {
    margin-top: 20px;
  }
  