.blog-article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  
    @media (max-width: 768px) {
        max-width: 90%;
        margin: 10px auto;
    }
    
      // Estilo para pantallas muy pequeñas
    @media (max-width: 576px) {
        max-width: 100%;
        margin: 5px auto;
        padding: 10px;
    }

    img {
      width: 100%;
      margin-bottom: 15px;
    }
  
    ul {
        padding: 20px;
        list-style: none;
  
      li {
        margin-bottom: 10px;
      }
    }
  
    hr {
        margin: 20px auto;
        border: 1px solid $primary-color;
    }
  
    blockquote {
      margin: 0;
      padding: 10px;
      border-left: 5px solid #333;
      background-color: #f9f9f9;
    }
  
    // Utilizando la pseudoclase :has() para aplicar estilos a párrafos que siguen directamente a una imagen
    .article-header, .col-lg-6:has(img + p) {
        p {
            font-size: 12px;
            font-style: italic;
        }
    }
      

  // Utilizando la pseudoclase :is() para aplicar estilos a elementos de lista con una clase específica
  .image-source:is(p) {
    color: $secondary-color;
    overflow-wrap: break-word;
  }
}
  
  .article-section {
    margin-top: 20px;
  }
  