footer {
    
    text-align: center;
    @include custom-gradient($primary-color, $secondary-color);


    .row{
        max-width: 100%;
    }

    .contact-info{
        padding-top: 30px
    }

    .contact-info, .logo, .pages, .social {
      @include darken-effect(white);
      margin-bottom: 20px;
    }
  
    .separator {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 30px;
      border: 2px solid white;
    }
  
    .logo img {
      color: white;
      filter: invert(1);
    }
  
    .pages a {
      margin: 0 15px;
      color: inherit; 
      text-decoration: none; 
      
      &:hover {
        text-decoration: underline;
      }
    }

    .social {
        i {
            margin: 0 10px;
        }
    }
  }
  