@import '../mixins';
@import '../variables';

header {
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    @include custom-gradient($primary-color, $secondary-color);
    
    nav {
      position: fixed;
      top: 0;
      width: 100%;
      
      padding: 10px;
      color: white;
  
      .navbar-brand {
        color: white;
        img {
          filter: invert(1);
        }
      }
  
      .navbar-nav {
        margin-left: auto;
  
        .nav-item {
            padding: 0.5rem 1rem;
            @include border-effect(white);
        
            a {
              color: white;
            }
        
            &.active {
              background-color: white;
              @include border-effect($primary-color);
        
              a {
                color: $primary-color;
              }
            }
          }
        
      }
  
      .navbar-brand:hover {
        color: white !important;
      }
    }
  }