@import '../mixins';
@import '../animations';
@import '../variables';

.collage {
  @include custom-gradient($primary-color, $secondary-color);
  padding: 20px;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    min-height: 600px;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
      
        .title {
          grid-column: span 1;
          grid-row: span 1;
        }
      
        .members,
        .blog {
          grid-column: span 1;
          grid-row: span 1;
        }
      
        .contact {
          grid-column: span 1;
          grid-row: span 1;
        }
      }
  }

  .title {
    grid-column: span 2;
    grid-row: span 1;

    &::before {
      background-image: url('/src/assets/images/image_title.avif');
    }
  }

  .contact {
    grid-column: span 1;
    grid-row: span 2;

    &::before {
      background-image: url('/src/assets/images/image_contact.avif');
    }

    @media screen and (max-width: 767px) {
        &::before {
            background-image: url('/src/assets/images/image_contact_sm.avif');
          }
    }

  }

  .members {
    grid-column: span 1;
    grid-row: span 1;

    &::before {
      background-image: url('/src/assets/images/image_members2.webp');
    }
  }

  .blog {
    grid-column: span 1;
    grid-row: span 1;

    &::before {
      background-image: url('/src/assets/images/image_blog.jpg');
    }
  }

  .title,
  .contact,
  .members,
  .blog {
    position: relative;
    z-index: 1;
    overflow: hidden;

    @supports not (display: grid) {
        // Estilos alternativos para navegadores que no admitan CSS Grid
        width: 30%;
        margin-right: 20px;
        float: left;
  
        @media screen and (max-width: 767px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }

    a {
        @include darken-effect(white);
        text-decoration: none;
      }

    h1, 
    h2, 
    div {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin-top: 4rem;
        text-align: center; 
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: center; 
      transition: transform 0.5s ease-in-out; 
      background-size: cover;
    }

    &:hover::before {
      transform: scale(1.1); 
    }

    &::after {
      content: ''; 
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($primary-color, 0.5);
    }

    color: white;
  }

  
}

.custom-title {
    font-family: $font-family-roboto;
    font-style: italic;
    font-weight: $font-weight-bold;
}

.navbar-toggler {
    border-color: white;
    filter: brightness(0) invert(1);
  }