@import '../animations';
@import '../mixins';
@import '../variables';

.members-section {
    .section-header {
        margin-bottom: 30px;
        text-align: center;

        .subtitle {
            color: #555;
            font-size: 1rem;
        }
    }

    .join-button {
        display: block;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        &:hover {
            animation: bounce 1s;
        }
    }

    .members-row-1,
    .members-row-2,
    .members-row-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 10px;
  
      .member-card {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
        overflow: hidden;
        transition: transform 0.3s ease;
        border-radius: 8px;
        background-color: #fff;
        @include border-effect($primary-color);
  
        &:hover {
          transform: scale(1.05);
        }
  
        .card-img-top {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
  
        .card-body {
          padding: 20px;
  
          .card-title {
            font-size: 1.2rem;
            font-weight: bold;
          }
  
          .card-text {
            color: #555;
          }
        }
      }
    }

    .members-row-2  {
        @include custom-gradient($primary-color, $secondary-color);
    }

    @media (max-width: 767px) {
        .members-row-1,
        .members-row-2,
        .members-row-3 {
            .member-card {
                flex: 0 0 100%;
                max-width: 80%;

                .card-text {
                    display: none;
                }
            }
        }
    }
}
